.app{
  background-color: rgb(250, 248, 246);

  margin: auto;
  padding: 100px;
  padding-top: 30px;
}

.app_body{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  box-shadow: 8px 8px 8px 8px grey;
  margin: auto;
  padding: 20px;
background-color: #F2F4F4 ;
justify-content: space-evenly;
}
  

  .header{
   
   align-items: center;
  
  }
  .header> h1{

    align-items: center;
  }

  .input_message{
    background: transparent;
    border: none;

  }

  .add_todo{
        border-radius: 5px;
        border: 0.5px solid #D5D8DC  ;
        size: 150px;
  }

  .add_todo:hover{
    background-color: #AEB6BF;
    
  }

.todolistitem{
  border: 0.5px solid gray ;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #EAECEE ;


}

.inputfield{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: white;
}

.timestamp{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 0;
  margin: 0;
}

.timestamp > div > p {
  padding: 0;
  margin: 0;
}
.clearbtn{
  border-radius: 5px;
        border: 0.5px solid #D5D8DC  ;
        size: 150px;
}

.clearbtn:hover{
  background-color: #AEB6BF;
  
}